@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
  padding: 0;
  margin: 0;
  font-family: vazir_medium, -apple-system, sans-serif;
  direction: rtl;
}


@font-face {
  font-family: vazir_black;
  src: url('/font/Vazir-Black.ttf');
  font-display: block;
}

@font-face {
  font-family: vazir_blod;
  src: url('/font/Vazir-Blod.ttf') format('ttf');
  font-display: block;
}

@font-face {
  font-family: vazir-medium;
  src: url('/font/vazir-Medium.ttf');
  font-display: block;
}

@font-face {
  font-family: vazir_Regular;
  src: url('/font/vazir-Regular.ttf');
  font-display: block;
}

